{% extends 'base.html.twig' %}

{% block title %}France Meuble | Assortiment{% endblock %}

{% block body %}

    {{dump(datassortiment)}}

    <div class="container row">

    </div>

{% endblock %}
