{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<div aria-label="breadcrumb">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('home')}}" class="fw-bold">< Continuer mes achats</a></li>
    </ol>

</div>

<h1 class="text-center">Votre panier</h1>
<div class="container">
<table class="table table-striped text-center">

    <thead>
        
        <tr>

        <th >Produit</th>
        <th>Quantité</th>
        <th>Coût unitaire</th>

        </tr>

    </thead>

    <tbody class="item">

        

    </tbody>

    <tfoot>

        <tr class="total">
        </tr>

    </tfoot>

</table></div>
{% endblock %}
