header{
    border-bottom: 1px solid rgb(153, 153, 153);
    background-color: rgb(224, 236, 246);
}

.logo{
    width: 125px!important;
    height: 125px!important;
}

nav{
    border-radius: 5px 5px;
}

.maryam{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
   background-image: url('../img/photos/bg_maryam.jpg');
}

i{
    font-size: 35px;
}

a{
    text-decoration: none!important;
    color: inherit!important;
}

main{
    min-height: 500px;
}
.carte_categorie{
    transition-duration: 0.2s;
}
.carte_categorie:hover{
   box-shadow: 6px 8px 4px rgb(204, 204, 204);
}

.section_collection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section_collection div{
    background-color: rgb(234, 238, 241);
}

.section_collection div:nth-child(even){
    justify-content: end!important;
    background-color: rgb(255, 255, 255);
}

li{
    list-style-type: none;
    
}

.carte_subcategory
{
    transition-duration: 0.2s;
    border-radius: 5px;
}

.carte_subcategory:hover{
    box-shadow: 6px 8px 4px rgb(204, 204, 204);
 }


.btn_subcategory i{
    font-size: 1.3rem!important;
    
}

.prix_article{
    font-size: 1.6rem;
}

footer{
    background-color: rgb(99, 122, 141);
}

footer div{
    min-height: 100px;
}

.thumb_slide {
    opacity: 0.3;
    border: 1px solid black!important;
    padding: 5px!important;
    
  }
  
.thumb_slide.is-active {
opacity: 1;
}
  
.menu_maryam{
    position:sticky!important;
    top: 0!important;
}

.maryam_nav:hover{
    background-color: lightgray;
}

.img-cart{
    width: 50px;
    height: auto;
}

td{
    vertical-align: middle;
    padding: 0;
}

.qte_plus, .qte_minus{
font-size: 1.5em!important;
}

.qte_item{
    font-size: 1.1rem;
}