header{
    border-bottom: 1px solid rgb(153, 153, 153);
    background-color: rgb(224, 236, 246);
}

.logo{
    width: 125px!important;
    height: 125px!important;
}

nav{
    border-radius: 5px 5px;
}

.maryam{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
   background-image: url('../img/photos/bg_maryam.jpg');
}

i{
    font-size: 35px;
}

a{
    text-decoration: none!important;
    color: inherit!important;
}

main{
    min-height: 500px;
}


.section_collection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section_collection div{
    background-color: rgb(234, 238, 241);
}

.section_collection div:nth-child(even){
    justify-content: center!important;
    background-color: rgb(255, 255, 255);
}

li{
    list-style-type: none;
    
}

footer{
    background-color: rgb(99, 122, 141);
}

footer div{
    min-height: 100px;
}

