<ul>
{% for data in categories %}
<div class="my-3">

    <h4><a class="p-2 link-secondary" href="{{path('boutique_category_show', {'id': data.id}) }}">{{data.nom}}</a></h4>
    
        <ul class="p-2">
            {% for data in data.souscategories %}
                <li><a href="">{{data.nom}}</a></li>
            {% endfor %}
        </ul><hr>
</div>
{% endfor %}
</ul>