{% extends "base_admin.html.twig" %}

{% block title %}
    France meuble | Ajout - Chaussures
{% endblock %}

{% block body %}

 {{form_start(formCategory)}}

 {{form_row(formCategory.nom)}}
 <div class="text-center">
    <button class="btn btn-dark text-white">Ajouter
    </button>
</div>

 {{form_end(formCategory)}}

 {% endblock %}