{% extends "base_admin.html.twig" %}

{% block title %}
    France meuble | Ajout - Assortiment
{% endblock %}

{% block body %}
    <div class="container">

        <div class="d-flex flex-column">
        {{form_start(assortimentForm)}}

        
            {{form_row(assortimentForm.nom, {'attr':{'class':'col-5 mx-auto my-4'}})}}
          
        <div class="text-center">
            <button class="btn btn-dark text-white">Ajouter
            </button>
        </div>

        {{form_end(assortimentForm)}}
        </div>
    
    </div>

 {% endblock %}