{% extends 'base_admin.html.twig' %}

{% block title %}France Meuble | Backoffice{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Bienvenue dans votre Backoffice, nom prénom!</h1>

    <h4 class="text-center mb-5">vous êtes dans votre espace BackOffice</h4>

    <p class="text-center">Vous pouvez ici gérer la totalité de votre site.</p>

    <p><a href="{{path('add_category')}}">Ajouter une catégorie</a></p>
    <p><a href="{{path('add_sub_category')}}">Ajouter une sous-catégorie</a></p>
{% endblock %}