{% extends 'base.html.twig' %}
{% block body %}
<h2 class="text-center">Catégories</h1>

<div class="categories row justify-content-around align-items-center">

    <div class="col-2 bg-info text-center">Luminaires</div>
    <div class="col-2 bg-info text-center">Ameublement</div>
    <div class="col-2 bg-info text-center">Mousses</div>
    <div class="col-2 bg-info text-center">Literie</div>
    <div class="col-2 bg-info text-center">Boiserie</div>

</div>

<h2 class="text-center">Collections</h2>
<section>
    <div class="section_collection">
    <div class="row align-items-center my-4">
        <div class="col-5 bg-danger mx-3 collection">Image</div>
        <p class="col-5 bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet ex quas. Magnam natus eveniet ipsam omnis laborum facilis culpa voluptates quis dolores error pariatur fugit debitis sunt totam necessitatibus, reiciendis maiores libero ex eligendi commodi quam! Molestias corrupti vero est quaerat totam quidem omnis sit odit corporis at! Possimus unde ut nemo minus perspiciatis, magni quia, saepe aliquam assumenda quis voluptas vitae. Molestias architecto veritatis magni nobis quo, odit ullam vitae accusamus quas modi perferendis vel soluta sunt doloribus velit et esse cum obcaecati perspiciatis, rerum minus? Necessitatibus quos doloribus doloremque cupiditate fugiat culpa recusandae tenetur quo praesentium. Sapiente.</p>
    </div>

    <div class="row align-items-center my-4">
        <div class="col-5 bg-danger mx-3 collection">Image</div>
        <p class="col-5 bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet ex quas. Magnam natus eveniet ipsam omnis laborum facilis culpa voluptates quis dolores error pariatur fugit debitis sunt totam necessitatibus, reiciendis maiores libero ex eligendi commodi quam! Molestias corrupti vero est quaerat totam quidem omnis sit odit corporis at! Possimus unde ut nemo minus perspiciatis, magni quia, saepe aliquam assumenda quis voluptas vitae. Molestias architecto veritatis magni nobis quo, odit ullam vitae accusamus quas modi perferendis vel soluta sunt doloribus velit et esse cum obcaecati perspiciatis, rerum minus? Necessitatibus quos doloribus doloremque cupiditate fugiat culpa recusandae tenetur quo praesentium. Sapiente.</p>
    </div>

    <div class="row align-items-center my-4">
        <div class="col-5 bg-danger mx-3 collection">Image</div>
        <p class="col-5 bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet ex quas. Magnam natus eveniet ipsam omnis laborum facilis culpa voluptates quis dolores error pariatur fugit debitis sunt totam necessitatibus, reiciendis maiores libero ex eligendi commodi quam! Molestias corrupti vero est quaerat totam quidem omnis sit odit corporis at! Possimus unde ut nemo minus perspiciatis, magni quia, saepe aliquam assumenda quis voluptas vitae. Molestias architecto veritatis magni nobis quo, odit ullam vitae accusamus quas modi perferendis vel soluta sunt doloribus velit et esse cum obcaecati perspiciatis, rerum minus? Necessitatibus quos doloribus doloremque cupiditate fugiat culpa recusandae tenetur quo praesentium. Sapiente.</p>
    </div>
    <p class="text-center">Voir toutes nos collections</p>
    </div>

    <section>
        <div class="col-8 mx-auto my-5">
            <h2 class="text-center">Maryam Couture</h2>
            <img src="{{ asset('img/photos/maryam_couture.jpg')}}" alt="">
        </div>
    </section>


{% endblock %}
